/**************************/
/****** MEDIA QUERIES******/
/**************************/

/*Below 1131px*/
@media (max-width: 1021px) {
  .project-title {
    font-size: 3rem;
  }

  .sf-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 969px) {
  .footer-content {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

@media (max-width: 857px) {
  .text-2 {
    font-size: 1.4rem;
  }
  .ideation-sub {
    font-size: 1.4rem;
  }
  .ut-text {
    font-size: 1.4rem;
  }
  .next-project {
    width: 90%;
  }
  .acc-skill {
    font-size: 1.4rem;
  }

  .project-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 810px) {
  .sf-title {
    font-size: 2rem;
  }

  .m-t {
    font-size: 2.5rem;
  }

  .sprints-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .ut-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 777px) {
  .method-tools-box {
    gap: 2rem;
  }

  .nav-content {
    gap: 2rem;
  }
}

@media (max-width: 725px) {
  .ideation-sub {
    width: 90%;
  }

  .nav-content {
    gap: 1.5rem;
  }

  .nav-link:li {
    font-size: 1.6rem;
  }

  .website-logo {
    height: 2rem;
  }
}

@media (max-width: 650px) {
  .intro-box {
    padding: 3px 7px;
  }

  .topic-box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .user-flow-img {
    width: 90%;
  }

  .proj-src {
    font-size: 1.4rem;
  }

  .text {
    font-size: 1.4rem;
  }

  .sf-title {
    font-size: 1.6rem;
  }

  .santanfoods-preview {
    display: none;
  }

  .nav-content li {
    font-size: 3rem;
  }

  .nav-content {
    flex-direction: column;
    gap: 3.5rem;
  }

  /*MOBILE NAV*/

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: #ffffffc5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
    transform: translateX(100%);

    /*Hide elements visually...later with javascript*/

    /*Step ONE*/
    opacity: 0;

    /*Step TWO*/
    /*Make it unaccessible to mouse and keyboard*/
    pointer-events: none;

    /*Step THREE*/
    /*Hide from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="icon-close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="icon-open"] {
    display: none;
  }
}

@media (max-width: 630px) {
  .sf-logo {
    display: none;
  }

  .sf-description-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text-2 {
    text-align: left;
  }

  .ut-text {
    font-size: 1.4rem;
  }

  .ut-col {
    gap: 1.5rem;
  }
}

@media (max-width: 570px) {
  .footer-title {
    font-size: 2rem;
  }

  .method-tools-box {
    grid-template-columns: 1fr;
  }

  .ut-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .ut-img {
    order: 2;
  }
}
