/**************************/
/****** MEDIA QUERIES******/
/**************************/

/*Below 1131px*/
@media (max-width: 1021px) {
  .project-title {
    font-size: 3rem;
  }

  .sf-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 969px) {
  .footer-content {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

@media (max-width: 857px) {
  .next-project {
    width: 90%;
  }

  .project-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 810px) {
  .sf-title {
    font-size: 2rem;
  }

  .m-t {
    font-size: 2.5rem;
  }

  .sprints-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .ut-title {
    font-size: 2.5rem;
  }

  .li-pp {
    font-size: 1.4rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .r-a-content {
    font-size: 1.4rem;
  }

  .width {
    font-size: 1.4rem;
  }

  .text-2 {
    font-size: 1.4rem;
  }

  .target-aud-sub {
    font-size: 1.4rem;
  }

  .quali-questions li {
    font-size: 1.4rem;
  }
}

@media (max-width: 777px) {
  .method-tools-box {
    gap: 2rem;
  }

  .nav-content {
    gap: 1.5rem;
  }

  .nav-link:li {
    font-size: 1.6rem;
  }

  .li-pp {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 699px) {
  .dp-topic {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .about-title-2 {
    font-size: 2.5rem;
  }

  .santanfoods-preview {
    display: none;
  }

  .acc-skill {
    font-size: 1.4rem;
  }

  .about-container {
    gap: 3rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 650px) {
  .sf-logo {
    display: none;
  }

  .topic-box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .proj-src {
    font-size: 1.4rem;
  }

  .sf-description-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text {
    font-size: 1.4rem;
  }

  .nav-content li {
    font-size: 3rem;
  }

  .acc-skill {
    font-size: 1.4rem;
  }

  .nav-content {
    flex-direction: column;
    gap: 3.5rem;
  }

  /*MOBILE NAV*/

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: #ffffffc5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
    transform: translateX(100%);

    /*Hide elements visually...later with javascript*/

    /*Step ONE*/
    opacity: 0;

    /*Step TWO*/
    /*Make it unaccessible to mouse and keyboard*/
    pointer-events: none;

    /*Step THREE*/
    /*Hide from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="icon-close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="icon-open"] {
    display: none;
  }
}

@media (max-width: 562px) {
  .text-description {
    font-size: 1.4rem;
  }

  .website-logo {
    height: 2rem;
  }

  .dp-topic {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .footer-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .problem-statement {
    grid-template-columns: 1fr;
  }

  .solution {
    order: 2;
    width: 90%;
    justify-self: center;
  }

  .solution-box {
    grid-template-columns: 1fr;
  }

  .maj-pain-points {
    grid-template-columns: 1fr;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-txt-container {
    order: 1;
  }

  .method-tools-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 482px) {
  .footer-title {
    font-size: 2rem;
  }
}

@media (max-width: 414px) {
  .topic-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .pain-list {
    justify-self: center;
    width: 80%;
  }

  .pain-list li {
    font-size: 1.2rem;
  }
}
